header{
background-color: orangered;
padding: 15px 0px;
}
a{
    text-decoration: none;
    color: #fff;
    margin-right: 15px;
    transition: all ease-in-out .2s;
   
}
a:hover{
color: black;
}




